.container {
	background-color: blue;
}

.col-md-12 {
	background-color: red;
}

#col61 {
	background-color: green;
}

#col62 {
	background-color: gray;
}

#col41 {
	background-color: pink;
}
#col42 {
	background-color: yellow;
}
#col43 {
	background-color: purple;
}