h1,h3 {
	text-align: center;
}

/*.col-md-2 {
	background-color: gray;
}*/

button {
  background: none;
  border: none;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  /*margin-right: 35px;*/
}

/*HEADER*/
#header {
	/*background-color: pink;*/
	text-align: left;
	font-family: 'Yellowtail';
	height: 60px;
}

#header,h4 {
	font-size: 30px;
}

/*PRESENTATION*/
#title {
	font-family: 'Roboto Condensed';
	text-transform: uppercase;
	/*background-color: red;*/
}

#title, h1 {
	font-size: 80px;
	letter-spacing: 1px;
}

#intro {
	/*background-color: blue;*/
	margin-top:-2%;
	font-family: 'Roboto Condensed';
	text-transform: uppercase;
}

#title, h3 {
	font-size: 15px;
	letter-spacing: 2px;
	line-height: 130%;
}

.after-space {
	margin-top: 3%;
}



.bubbles-div {
    margin-top: 35px;
    /*margin-left: 15px;*/
    margin-bottom: 80px;
    text-align: center;
}

/* BODY */
.bubbles {
    /*border-radius: 50%;*/
    width: 150px;
    height: 150px;
    margin-right: 45px; /*32, 38*/
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    /*font-family: 'Permanent Marker';*/
    font-family: 'Yellowtail';
    font-size: 30px;
}

/* Bubbles colors */
#yellow {
    background-color: #ffff8d;
}

#red {
    background-color: #ff8a80;
}

#green {
    background-color: #c8e6c9;
}

#orange {
    background-color: #ffcc80;
}

#yellow:focus {
    background-color: red;
}
#red:focus {
    background-color: red;
}
#green:focus {
    background-color: red;
}
#orange:focus {
    background-color: red;
}

/*#blue {
    background-color: #b3e5fc;
}

#pink {
    background-color: #fce4ec;
}*/

/* JAVASCRIPT */
p {
    font-family: 'Roboto Condensed';
    font-size: 28px;
}

input {
    font-size: 15px;
    width: 100px;;
}