h1,h3 {
	text-align: center;
}

/*.col-md-2 {
	background-color: gray;
}*/

button {
  background: none;
  /*border: none;*/
  border-radius: 50%;
  width: 150px;
  height: 150px;
  /*margin-right: 35px;*/
  border-style: none;
}

/*HEADER*/
#header {
	/*background-color: pink;*/
	text-align: left;
	font-family: 'Yellowtail';
	height: 60px;
}

#header,h4 {
	font-size: 30px;
}

/*PRESENTATION*/
#title {
	font-family: 'Roboto Condensed';
	text-transform: uppercase;
	/*background-color: red;*/
}

#title, h1 {
	font-size: 80px;
	letter-spacing: 1px;
}

#intro {
	/*background-color: blue;*/
	margin-top:-2%;
	font-family: 'Roboto Condensed';
	text-transform: uppercase;
}

#title, h3 {
	font-size: 15px;
	letter-spacing: 2px;
	line-height: 130%;
}

.after-space {
	margin-top: 3%;
}



.bubbles-div {
    margin-top: 35px;
    margin-left: 15px;
    margin-bottom: 80px;
    text-align: center;
}

/* BODY */
.bubbles {
    /*border-radius: 50%;*/
    width: 150px;
    height: 150px;
    margin-right: 45px; /*32, 38*/
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    /*font-family: 'Permanent Marker';*/
    font-family: 'Yellowtail';
    font-size: 30px;
}

/* Bubbles colors */
#yellow {
    background-color: #ffff8d;
    padding-bottom: 10px;
}

.selected#yellow {
    border-color:  #fff176;
    border-width: 7px;	
    border-style: solid;
}

#red {
    background-color: #ff8a80;
}

.selected#red {
    border-color: #e57373;
    border-width: 7px;	
    border-style: solid;
}

#green {
    background-color: #c8e6c9;
}

.selected#green {
    border-color: #a5d6a7;
    border-width: 7px;	
    border-style: solid;
}

#orange {
    background-color: #ffcc80;
}


.selected#orange {
    border-color: #ffb74d;
    border-width: 7px;	
    border-style: solid;
}






/* JAVASCRIPT */
p {
    font-family: 'Roboto Condensed';
    font-size: 28px;
}

input {
    font-size: 15px;
    width: 100px;;
}